<html>
    <head>
      <title> 飲み会 </title>

    </head>

    <body>
        <h1>リク飲みforITF</h1>
        <nav>
        <ul class="nav navbar-nav navbar-right">
             <li><%= link_to "イベント一覧",events_path%></li>
             <li><%= link_to "ユーザ一覧",users_path%></li>
        </ul>
	</nav>

    </body>
</html>
