<html>
    <head>
      <title> 飲み会 </title>

    </head>

    <body>
      <div class="center jumbotron">
        <h1>リク飲み for ITF</h1>
        <nav>
        <ul class="nav navbar-nav navbar-right">
             <li><%= link_to "イベント一覧",events_path%></li>
             <li><%= link_to "ユーザ一覧",users_path%></li>
        </ul>
	</nav>
	

      </div>
	
	<div class="panel panel-success">
	  
	  <div class="panel-heading">
	    <h5 class="panel-title">イベント一覧</h5>
	  </div>
	  
	  <div class="panel-body">
            <table class="table">
              <% @events.each do |event| %>
              <tr>
		<td>
                  <li><%= link_to event.name,event_path(event.id)%></li>
		</td>
              </tr>
              <% end %>
            </table>
	  </div>
	  
	</div>
	
    </body>
</html>
