<html>
    <head>
      <title> 飲み会 </title>
      
    </head>
    
    <body>
      <div class="center jumbotron">
        <h1>筑波大生飲み会募集掲示板</h1>

      </div>
      <nav>
        <ul class="nav navbar-nav navbar-right">
             <li><%= link_to "イベント一覧",list_path%></li>
        </ul>
	</nav>
        
    </body>
</html>
