<p>参加人数：<%= @event.followers.count %>人</p>
    
    <div class="panel-body">
        <table class="table">
              <% @event.followers.each do |u| %>
              <tr>
		      <td>
                  <li><%= u.name %></li> 
		      </td>
              </tr>
              <% end %>
        </table>
	</div>
