<html>
    <head>
        <title> イベント詳細 </title>
    </head>
    
    <body>
        <h1><%= @event.name %></h1>
        <p>場所:<%= @event.place %></p>
        <p>日付:<%= @event.month %>月<%= @event.day %>日</p>
    </body>
</html>

                