<html>
    <head>
        <title> イベント詳細 </title>
    </head>
    
    <body>
      <h1><%= @event.name %></h1>

      <table class="table table-bordered">
	<tbody>
	  <tr>
            <th>場所</th>
	    <th><%= @event.place %></th>
	  </tr>
	  <tr>
            <th>日付</th>
	    <th><%= @event.month %>月<%= @event.day %>日</th>
	  </tr>
	</tbody>
      </table>
    </body>
</html>

                
