div.namea{
    color: #2c27d6;
    font-size: 25px;
    float: left;
}
div.nameb{
    font-size: 25px;
}
table th{
    background: #00fff2;
}

table td{
    background: #dcdfe0;
}

table th,td{
    font-size: 15px;
}
table{
    margin-top: 5px;
    width:90%;
}

.show_edit{
    margin-right: 50px;
}
