<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "My page",   '#' %></li>
        <li><%= link_to "Log out", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
